@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


$int_text: #02BD9B;
$font: 'Inter', sans-serif;
$font_sec: 'Poppins', sans-serif;

#intro {
     position: absolute;
     width: 55%;
     bottom: 30%;
     left: 5%;

    #int_text {
        opacity: 0.5;
    }

    #logan {
        padding-top: 3%;
        padding-bottom: 5%;
        font-family: $font_sec;
        width: 100%;
        font-size: 3.1em;
        font-weight: bold;
    }
    #music {
        color: $int_text;
    }

   
    #two_butts {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    .buttons {
        padding: 1%;
        margin-right: 1%;
        border-radius: 2em;
        width: 50%;
        height: 3.5em;
        font-family: $font;
        font-size: large;
        outline: none;
        border: none;
    }



    #first_butt, #second_butt {
        background-color: $int_text;
        padding: 3%;
        text-decoration: none;
        text-align: center;
        margin-right: 4%;
        border-radius: 2em;
        color: white;
    }
    
    #second_butt {
        background-color: white;
        color: black;
    }
}

#bod_sect {
    
    position: relative;
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    // column-gap: 6vw;
    // justify-content: space-around;
    margin-top: 8%;
    
    #big_round {
        border-radius: 100% 0% 0% 100% / 100% 0% 100% 0% ;
        height: 28em;
        background-color: #6D1EBB;
        position: relative;
        width: 100%;
        // left: 50%;
        z-index: -1;
    }

    #img {
        width: 31em;
        height: 35em;
        position: absolute;
        left: 62%;
        bottom: 6%;
    }

}

#sec_body {
    height: 30em;
    background-color: #A9A9A9;
}

