@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$font: 'Inter', sans-serif;
$back_color: #FFFFFF;
$text_color: #436CFF;
$secondary_color: #02BD9B;

#box {
    display: flex;
    width: 100%;
}

#logo {
    position: relative;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#log_container {
    background-color: $text_color;
    width: 8em;
    height: 6.5em;
    border-radius: 1% 100% 100% 31% / 95% 0% 100% 7% ;
}

#Flex {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
    a:nth-child(1)::after {
        content: "";
        transform: scaleX(1);
        width: 50%;
        position: relative;
        top: 0; right: 0; bottom: 0; left: 25%;
        display: block;
        border-bottom: 2px solid $text_color;
    }
    a:nth-child(1) {
        color: $font;
        font-weight: bold;
    }
    a:nth-child(2), a:nth-child(3) {
        font-weight: normal;
        color: black;
        transform-origin: left;
    }    

    a:nth-child(2)::after, a:nth-child(3)::after {
        content: "";
        transform: scaleX(0);
        width: 50%;
        position: relative;
        top: 0; right: 0; bottom: 0; left: 25%;
        display: block;
        border-bottom: 2px solid $text_color;
        transition: 1.7s ease-in-out;
        transform-origin: center;
    }

    a:nth-child(2):hover::after, a:nth-child(3):hover::after{
        transform: scaleX(1);
        transform-origin: center;
    }
   
}

.nav_text {
    text-decoration: none;
    color: $text_color;
    font-weight: 400;
    font-size: x-large;
}

#upper_right_nav {
    width: 26%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #search {
    background-color: rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(8.6795px);
    border-radius: 201.798px;
    border: none;
    height: 2.5em;
    width: 100%;
    outline: none;
    padding-left: 5%;
    padding-right: 5%;
    font-size: medium;
    }
    #search_bar {
        width: 100%;
        padding-right: 5%;
    }
    #user_icon{
        margin-right: 10%;
    }
    #user_icon:hover {
    cursor: pointer;   
    }
}

#between_space {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#plead {
    animation: plead 0.5s forwards ease-in;
}
#sea {
    opacity: 0.5;
    animation: pleads 0.2s forwards ease-in;
}

@keyframes plead {
    0% {
        transform: scale(0.7);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pleads {
    0% {
        transform: scale(0.7);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}